@model SV21T1020105.Shop.Models.OrderSearchInput
@{
    ViewBag.Title = "Lịch sử mua hàng";
}
<div class="py-5">
</div>
<div class="container py-5">
    <div class="row">
        <!-- Sidebar -->
        @{
            await Html.RenderPartialAsync("Tmp_SidebarProfile");
        }

        <!-- Order Tabs -->
        <div class="col-md-9 my-3">
            <form id="frmSearchInput" action="~/Order/Search" method="get">
                <div class="d-flex mb-4">
                    <select class="form-select me-2" name="@nameof(Model.Status)">
                        <option value="">Tất cả</option>
                        <option value="1" selected="@(Model.Status == 1)">Đơn hàng mới (chờ duyệt)</option>
                        <option value="2" selected="@(Model.Status == 2)">Đơn hàng đã duyệt (chờ chuyển hàng)</option>
                        <option value="3" selected="@(Model.Status == 3)">Đơn hàng đang được giao</option>
                        <option value="4" selected="@(Model.Status == 4)">Đơn hàng đã hoàn tất thành công</option>
                        <option value="-1" selected="@(Model.Status == -1)">Đơn hàng bị hủy</option>
                        <option value="-2" selected="@(Model.Status == -2)">Đơn hàng bị từ chối</option>
                    </select>
                    <input type="text" name="@nameof(Model.TimeRange)" value="@Model.TimeRange" class="form-control daterange-picker me-2 text-center py-2" placeholder="Chọn khoảng thời gian">
                    <button type="submit" class="btn btn-primary py-2">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
            
            <div class="col-12 col-md-12">
                <div id="searchResult">
                    
                </div>
            </div>
            
        </div>
    </div>
</div>

@section styles {
    <style>
        .shop-card {
            border: 1px solid #ddd;
            margin-bottom: 1rem;
        }

        .price-text {
            color: #ee4d2d;
        }
    </style>
}

@section scripts {
    <script>
        function doSearch(page) {
            var searchCondition = $("#frmSearchInput").serializeArray();
            searchCondition.push({ name: "page", value: page });

            var action = $("#frmSearchInput").prop("action");
            var method = $("#frmSearchInput").prop("method");

            $.ajax({
                url: action,
                type: method,
                data: searchCondition,
                success: function (data) {
                    $("#searchResult").html(data);
                }
            });
        }

        $(document).ready(function () {
            doSearch(@Model.Page);
            $("#frmSearchInput").submit(function (e) {
                e.preventDefault();
                doSearch(1);
            });
        });
    </script>
}