@model SV21T1020105.Shop.Models.OrderSearchInput
@{
    ViewBag.Title = "Lịch sử mua hàng";
}
<div class="py-5">
</div>
<div class="container py-5">
    <div class="row">
        <!-- Sidebar -->
        @{
            await Html.RenderPartialAsync("Tmp_SidebarProfile");
        }

        <!-- Order Tabs -->
        <div class="col-md-9 my-3">
            <ul class="nav nav-tabs mb-4">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Tất cả</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Order/Search?Status=@Constants.ORDER_INIT">Đang chờ duyệt </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Order/Search?Status=@Constants.ORDER_ACCEPTED">Đang chờ chuyển hàng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Order/Search?Status=@Constants.ORDER_SHIPPING">Đang được giao (2)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Order/Search?Status=@Constants.ORDER_FINISHED">Hoàn thành</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Order/Search?Status=@Constants.ORDER_CANCEL">Đã hủy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Order/Search?Status=@Constants.ORDER_REJECTED">Bị từ chối</a>
                </li>
            </ul>
            <form id="frmSearchInput" action="~/Order/Search" method="get">
                <input type="hidden" name="@nameof(Model.PageSize)" value="@Model.PageSize" />
                <input type="hidden" name="@nameof(Model.Status)" value="@Model.Status" />
                <div class="d-flex justify-content-end align-items-end mb-4">
                    <input type="text" name="@nameof(Model.TimeRange)" value="@Model.TimeRange" class="form-control daterange-picker me-2 text-center py-2" placeholder="Chọn khoảng thời gian" style="width: 40%">
                    <button type="submit" class="btn btn-primary py-2">
                        <i class="bi bi-search"></i>
                    </button>
                </div>

            </form>
            
            <div class="col-12 col-md-12">
                <div id="searchResult">
                    
                </div>
            </div>
            
        </div>
    </div>
</div>

@section styles {
    <style>
        .shop-card {
            border: 1px solid #ddd;
            margin-bottom: 1rem;
        }

        .price-text {
            color: #ee4d2d;
        }
    </style>
}

@section scripts {
    <script>
        function doSearch(page) {
            var searchCondition = $("#frmSearchInput").serializeArray();
            searchCondition.push({ name: "page", value: page });

            var action = $("#frmSearchInput").prop("action");
            var method = $("#frmSearchInput").prop("method");

            $.ajax({
                url: action,
                type: method,
                data: searchCondition,
                success: function (data) {
                    $("#searchResult").html(data);
                }
            });
        }

        $(document).ready(function () {
            doSearch(@Model.Page);
            $("#frmSearchInput").submit(function (e) {
                e.preventDefault();
                doSearch(1);
            });
        });
    </script>
}