@model SV21T1020105.Shop.Models.OrderSearchResult
@{
    Layout = null;
}
@if (Model.RowCount == 0)
{
    <div class="d-flex justify-content-center align-items-center mt-5">
        <p class="text-danger">
            Không có đơn hàng nào để hiển thị.
        </p>
    </div>
}
else
{
    <!-- Order Items -->
    @foreach (var orderDetailModel in Model.Data)
    {
        <div class="shop-card p-3">
            <div class="d-flex justify-content-end mb-3">
                @if (orderDetailModel.Order.Status != Constants.ORDER_CANCEL 
                    && orderDetailModel.Order.Status != Constants.ORDER_REJECTED)
                {
                    <span class="text-success">
                        <i class="bi bi-truck"></i> @orderDetailModel.Order.StatusDescription
                    </span>
                }
                else
                {
                    <span class="text-danger">
                        @orderDetailModel.Order.StatusDescription
                    </span>
                }

            </div>

            @foreach (var item in orderDetailModel.Details)
            {
                <div class="d-flex py-3 border-top">

                    <img src="@WebConfig.IMAGE_SOURE_HOST/images/products/@(string.IsNullOrWhiteSpace(item.Photo) ? "no-image.jpg" : item.Photo)" class="me-3" alt="Product" height="80" width="80">

                    <div class="flex-grow-1">
                        <a href="~/Product/Details/@item.ProductID"><h6>@item.ProductName</h6></a>
                        <p>x @item.Quantity</p>
                    </div>
                    <div class="text-end">
                        <p class="price-text number-separator">@item.TotalPrice</p>
                    </div>
                </div>
            }

            <div class="border-top pt-3">
                <div class="d-flex justify-content-between align-items-center">
                    <a href="~/Order/Details?id=@orderDetailModel.Order.OrderID" class="btn btn-primary btn-sm">Xem chi tiết</a>
                    <div class="d-flex align-items-center">
                        <span class="me-3">Thành tiền:</span>
                        <span class="price-text fs-5 fw-bold number-separator">@orderDetailModel.Details.Sum(d => d.TotalPrice)</span>
                    </div>
                </div>
            </div>

        </div>
    }

    <div class="text-center">
        <ul class="pagination">
            @for (int p = 1; p <= Model.PageCount; p++)
            {
                if (p == Model.Page)
                {
                    <li class="active"><a href="#">@p</a></li>
                }
                else
                {
                    <li><a href="javascript:;" onclick="doSearch(@p)">@p</a></li>
                }
            }
        </ul>
    </div>
}

<script>
    $(document).ready(function () {
        // Đảm bảo mã JavaScript này được chạy sau khi trang được tải xong
        $('.number-separator').inputmask({
            alias: "numeric",
            groupSeparator: ",",       // Dấu phẩy phân cách phần nghìn
            autoGroup: true,           // Tự động thêm dấu phân cách
            digits: 0,                 // Không có chữ số thập phân
            rightAlign: false,
            removeMaskOnSubmit: true   // Loại bỏ ký tự phân cách phần nghìn khi submit form
        });
    })
</script>