@model IEnumerable<Product>
@{
    ViewBag.Title =  "Trang chủ";
}

@{
    await Html.RenderPartialAsync("_Banner");
}

<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="tab-class text-center">
            <div class="row g-4">
                <div class="col-lg-4 text-start">
                    <h1>Một số sản phẩm</h1>
                </div>
                <div class="col-lg-8 text-end">
                    <ul class="nav nav-pills d-inline-flex text-center mb-5">
                        <li class="nav-item">
                            <a class="d-flex m-2 py-2 bg-light rounded-pill active" href="~/Product">
                                <span class="text-dark p-2">Tất cả sản phẩm</span>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>

            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                @foreach (var product in Model.Where(p => p.IsSelling).Take(8))
                                {
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="rounded position-relative fruite-item" style="height: 100%;">
                                            <div class="fruite-img">
                                                <img src="@WebConfig.IMAGE_SOURE_HOST/images/products/@(string.IsNullOrWhiteSpace(product.Photo) ? "no-image.jpg" : product.Photo)"
                                                     class="img-fluid w-100 rounded-top" alt="@product.ProductName"
                                                     style="height: 182px; width: auto;">
                                            </div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom"
                                                 style="min-height: 200px; display: flex; flex-direction: column; justify-content: space-between;">
                                                <div style="height: auto;">
                                                    <h4 style="font-size: 15px;">
                                                        <a href="~/Product/Details/@product.ProductID">
                                                            @product.ProductName
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div class="d-flex flex-column align-items-center">
                                                    <p style="font-size: 15px; text-align: center; width: 100%;"
                                                       class="text-dark fw-bold mb-3 number-separator">
                                                        @product.Price
                                                    </p>
                                                    <form class="frmAddToCart" action="~/Cart/AddToCart" method="post">
                                                        <input type="hidden" name="Quantity" value="1" />
                                                        <input type="hidden" name="@nameof(product.ProductID)" value="@product.ProductID" />
                                                        <input type="hidden" name="ProductName" value="@product.ProductName" />
                                                        <input type="hidden" name="Photo" value="@product.Photo" />
                                                        <input type="hidden" name="Unit" value="@product.Unit" />
                                                        <input type="hidden" name="SalePrice" value="@product.Price" />
                                                        <button type="submit" class="btn border border-secondary rounded-pill px-3 text-primary">
                                                            <i class="fa fa-shopping-bag me-2 text-primary"></i>
                                                            Thêm vào giỏ hàng
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
</div>
@{
    await Html.RenderPartialAsync("_Feature");
}
